body{
    margin: 0px;
    position: absolute;    
}

#navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    top: 0%;
    left: 0%;
    height: 100px;
    margin-bottom: 0px;
    background-color: hsl(0, 100%, 20%);
    position: fixed;
    width: 100%;
}
#navlinks {
    display: flex;
    margin: auto;
}
#navlink {
    padding: 5px;
    text-decoration: none;
    margin: 30px;
    border-top: solid 2px whitesmoke;
    border-radius: 10%;
    color: white;
}
#navlink:hover {
    border-right: solid whitesmoke 2px;
    border-left: solid whitesmoke 2px;
    cursor: pointer;
}
#welcome-section{
    height: 100vh;
    width: 100vw;
    border-top:solid salmon 1px;
    display: flex;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKMALQYEF-2Qr5cyisH6mRvdmWYiAlQoRq5K0lVcg755V4oWxr');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#welcome-section h1{
    /* font-size: x-large; */
    font-weight: bold;
    color: mediumspringgreen;
    width: 100%
}
#logo img {
    height: 100px;
    width: 120px;
}
#intro {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding: 7px;
    border-left: solid 2px maroon;
    border-right: solid 2px maroon;
    background-color: rgba(128, 0, 0, .3);
    color: white;
}
#intro p{
    padding: 4px;
    border-top:dotted maroon;
};    

#projects {
    display: grid;
    grid-template-columns: 50% 50%; 
    padding-top: 100px;
}

figure img:hover{
    border: solid 2px;
}
figure #img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
    padding: auto;
    margin: auto;
}
#project-tile{
    text-align: center;
    max-width: 350px;
    text-decoration: none;
    color: brown;
    font-weight: bolder;
}
#contacts {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZtcHwSaOzLRifQitoqWnr0y29djhO7XQMmCQk-3r1NY8Y5cEC') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    
    display: grid;

}
#contacts h1 {
    padding: 5px;
    background-color: rgba(240, 255, 255, 0.4);
    border-top:solid maroon ;
    border-bottom:solid maroon ;
    margin: auto;
    font-weight: bolder;
}

.contacts {
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.contacts a{
    background-color: black;
    border-top: solid maroon;
    border-bottom: solid maroon;
    width: 100px;
    margin: 7px;
    padding: 10px;
    color: whitesmoke;
}
@media (max-width: 600px){
    .contacts {
        display: grid;
    }
    #contacts {
        height: 70vh;
    }
}

@media (max-width: 750px){
    #projects {
        display: grid;
        grid-template-columns: 90%
    }
    #navlinks {
        width: 90%; 
    }
    #navbar {
        grid-template-columns: 30% 70%;

        height: 70px;
    }
    #navlink {
        padding: 5px;
        margin: 5px;
    }
    #logo img {
        height: 70px;
        width: 75px;
    } 
    figure #img {
        width: 250px;
        height: 250px;
    }  
    #contacts {
        display: grid;
    }
   
}

@media (max-width: 900px) {
    #navbar {
        grid-template-columns: 30% 70%;
    }
    #contacts {
        display: grid;
    }
}
